Repository Tresjs/cientos, pull requests merged in 2023-10, with the labels that each got.

#228 feat: add `<Fbo />` abstraction
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/FboCube.vue
  docs/.vitepress/theme/components/FboDemo.vue
  docs/.vitepress/theme/components/UseFBODemo.vue
  docs/components.d.ts
  docs/guide/abstractions/fbo.md
  docs/guide/abstractions/use-fbo.md
  playground/components.d.ts
  playground/src/components/FboCube.vue
  playground/src/pages/abstractions/FBODemo.vue
  playground/src/pages/abstractions/useFBODemo.vue
  playground/src/router/routes/abstractions.ts
  src/core/abstractions/index.ts
  src/core/abstractions/useFBO/component.vue
  src/core/abstractions/useFBO/index.ts
  src/core/staging/Sky.vue
Labels: abstraction

#258 fix: add key to html slot wrapper to force re-render
  playground/src/pages/misc/HTMLDemo.vue
  src/core/misc/HTML.vue
  src/core/misc/html/HTML.vue
Labels: bug

#261 feat(cientos): Add `CustomShaderMaterial` wrapper
  docs/.vitepress/config.ts
  docs/.vitepress/theme/components/CustomShaderMaterialDemo.vue
  docs/guide/materials/custom-shader-material.md
  package.json
  playground/public/matcap_01.png
  playground/src/pages/materials/CustomShaderMaterialDemo.vue
  playground/src/router/routes/materials.ts
  pnpm-lock.yaml
  src/core/materials/customShaderMaterial/index.vue
  src/core/materials/index.ts
Labels: enhancement, materials, feature
